*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

GGBaseProject/workspace.xml
GGBaseProject/tasks.xml
.gradle
/build
/.idea/workspace.xml
/.idea/libraries
/local.properties
*.iml
/captures
/.gradle/2.10/
/GGBaseProject/.gradle/2.10/taskArtifacts/fileSnapshots.bin
/GGBaseProject/.gradle/2.10/taskArtifacts/outputFileStates.bin
/GGBaseProject/.gradle/2.10/taskArtifacts/taskArtifacts.bin
/GGBaseProject/.gradle/2.10/taskArtifacts/cache.properties
/GGBaseProject/.gradle/2.10/taskArtifacts/cache.properties.lock
/GGBaseProject/.gradle/2.10/taskArtifacts/fileHashes.bin
